@charset "UTF-8";
@font-face {
  font-family: 'RB';
  src: url("../fonts/RB-Light.woff2") format("woff2"), url("../fonts/RB-Light.woff") format("woff"), url("../fonts/RB-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RB';
  src: url("../fonts/RB-Regular.woff2") format("woff2"), url("../fonts/RB-Regular.woff") format("woff"), url("../fonts/RB-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RB';
  src: url("../fonts/RB-Bold.woff2") format("woff2"), url("../fonts/RB-Bold.woff") format("woff"), url("../fonts/RB-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "RB";
  font-weight: normal;
  font-style: normal;
}

img {
  max-width: 100%;
}

.ul_gh {
  list-style: none;
  padding: 0;
  margin: 0;
}

.m_P_gh {
  padding: 0;
  margin: 0;
}

.anc_gh {
  display: inline-block;
}

.anc_gh:hover {
  text-decoration: none;
}

.btn_gh {
  border: none;
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
  cursor: pointer;
  outline: none !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.d_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.moboverlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  overflow: hidden;
}

.over_ {
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  height: 100px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9b702a;
}

.banner {
  height: 100vh;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.banner::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, rgba(255, 255, 255, 0)), color-stop(96%, rgba(0, 0, 0, 0.865984)));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 13%, rgba(0, 0, 0, 0.865984) 96%);
}

.banner .line_position {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

.banner .cover_ {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.drag_down_parant {
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 40px;
  z-index: 1;
}

.drag_down_parant .drag_down {
  border: 2px solid #ffffff;
  width: 22px;
  height: 39px;
  display: block;
  margin: auto;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.drag_down_parant .drag_down::after {
  content: "";
  width: 2px;
  height: 7px;
  background-color: #ffffff;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 47%;
  bottom: 2px;
  border-radius: 1px;
  -webkit-animation-name: animation_;
          animation-name: animation_;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes animation_ {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes animation_ {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@media only screen and (max-width: 500px) {
  .banner .line_position {
    max-width: inherit;
  }
  .drag_down_parant {
    bottom: 25px;
  }
}

.about_us_parant {
  padding: 90px 0 100px;
}

.about_us_parant .about_us {
  background-image: url("../images/back_logo.png");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.about_us_parant .about_us h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  padding: 10px 0 50px;
}

@media only screen and (max-width: 500px) {
  .about_us_parant .about_us h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.about_us_parant .about_us .about_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.anc_about {
  background-color: #ad7d2f;
  width: 424px;
  height: 100px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-transition: .5s;
  transition: .5s;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.anc_about::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  background: #9b702a;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

html[dir="rtl"] .anc_about::before {
  -webkit-transform-origin: right;
          transform-origin: right;
}

html[dir="ltr"] .anc_about::before {
  -webkit-transform-origin: left;
          transform-origin: left;
}

.anc_about:hover {
  color: #ffffff;
}

.anc_about:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
          transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.anc_about:not(:last-child) {
  margin-bottom: 20px;
}

.anc_about span {
  width: 100px;
  height: 100px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9b702a;
}

.anc_about span img {
  width: auto;
  height: auto;
  Filter: invert(100%);
}

.anc_about p {
  width: calc(100% - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  text-transform: capitalize;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .about_us_parant {
    padding: 70px 0;
  }
  .about_us_parant .about_us {
    background-size: cover;
  }
  .about_us_parant .about_us h3 {
    padding: 10px 0 40px;
  }
  .anc_about {
    width: 100%;
    height: 80px;
  }
  .anc_about:not(:last-child) {
    margin-bottom: 15px;
  }
  .anc_about span {
    width: 80px;
    height: 80px;
    padding: 5px;
  }
  .anc_about span img {
    width: 45px;
  }
  .anc_about p {
    width: calc(100% - 80px);
    font-size: 18px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-style: normal;
  }
}

.services_parant {
  padding: 100px 0 120px;
  background-color: #f2f2f2;
}

.services_parant h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 60px;
}

@media only screen and (max-width: 500px) {
  .services_parant h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.services_parant .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.services_parant .services .anc_ser {
  background-color: #ffffff;
  padding: 50px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #000000;
  font-weight: 400;
  text-transform: capitalize;
  -webkit-transition: .5s;
  transition: .5s;
  text-align: center;
}

.services_parant .services .anc_ser:hover {
  text-decoration: none;
  background-color: #ad7d2f;
  color: #ffffff;
}

.services_parant .services .anc_ser:hover img {
  Filter: invert(100%);
}

.services_parant .services .anc_ser span {
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.services_parant .services .anc_ser span img {
  width: auto;
  height: auto;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-filter: invert(39%) sepia(18%) saturate(5829%) hue-rotate(25deg) brightness(110%) contrast(63%);
          filter: invert(39%) sepia(18%) saturate(5829%) hue-rotate(25deg) brightness(110%) contrast(63%);
}

@media only screen and (max-width: 767px) {
  .services_parant {
    padding: 90px 0 100px;
  }
  .services_parant h3 {
    margin-bottom: 40px;
  }
  .services_parant .services {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .services_parant .services .anc_ser {
    padding: 30px 5px;
    font-size: 13px;
    aspect-ratio: 1;
  }
  .services_parant .services .anc_ser span {
    width: 100px;
    margin-bottom: 15px;
  }
  .services_parant .services .anc_ser span img {
    -webkit-transition: .5s;
    transition: .5s;
    width: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .services_parant {
    padding: 50px 0 60px;
  }
  .services_parant h3 {
    margin-bottom: 40px;
  }
  .services_parant .services {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  .services_parant .services .anc_ser {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  html[dir="ltr"] .services_parant .services .anc_ser {
    padding: 15px 3px;
    font-size: 12px;
  }
  html[dir="rtl"] .services_parant .services .anc_ser {
    padding: 15px 12px;
    font-size: 14px;
  }
  .services_parant .services .anc_ser span {
    width: auto;
    height: auto;
    margin-bottom: 15px;
  }
  .services_parant .services .anc_ser span img {
    -webkit-transition: .5s;
    transition: .5s;
    width: 80px;
  }
}

.contact_us_parant {
  padding: 120px 0 120px;
}

.contact_us_parant h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 50px;
}

@media only screen and (max-width: 500px) {
  .contact_us_parant h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.contact_us_parant .about_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_us_parant .about_btn a {
  margin: 10px;
}

@media only screen and (max-width: 500px) {
  .contact_us_parant {
    padding: 50px 0 30px;
  }
  .contact_us_parant h3 {
    font-size: 36px;
    color: #000000;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
  }
}

@media only screen and (max-width: 500px) and (max-width: 500px) {
  .contact_us_parant h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

@media only screen and (max-width: 500px) {
  .contact_us_parant .about_btn a {
    margin: 0 0 15px;
  }
}

.clients_parant {
  text-align: center;
  padding: 30px 0 140px;
}

.clients_parant h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 60px;
}

@media only screen and (max-width: 500px) {
  .clients_parant h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.clients .clients_logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  gap: 25px;
}

.clients a {
  width: 160px;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients a:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  opacity: 1;
}

.clients a img {
  width: auto;
  height: auto;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: .6;
  -webkit-transition: .5s;
  transition: .5s;
}

@media only screen and (max-width: 991px) {
  .clients_parant {
    padding: 40px 0 50px;
  }
  .clients_parant h3 {
    margin-bottom: 40px;
  }
  .clients .clients_logos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
}

@media only screen and (max-width: 767px) {
  .clients .clients_logos {
    display: block;
  }
  .clients .clients_logos .owl-dots {
    display: block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    color: #9b702a;
    z-index: 9999;
  }
  .clients .clients_logos .owl-dots .owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #212121;
    opacity: 0.5;
    -webkit-margin-end: 5px;
            margin-inline-end: 5px;
  }
  .clients .clients_logos .owl-dots .active {
    background-color: #ad7d2f;
    opacity: 1;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    outline: 0;
  }
  .clients .clients_logos a {
    height: 160px;
    width: auto;
  }
  .clients .clients_logos a img {
    width: auto;
    height: auto;
    max-width: 100%;
  }
}

.join_us_parant {
  padding: 100px 0 110px;
  background-image: url("../images/banner.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.join_us_parant .join_us {
  text-align: center;
}

.join_us_parant .join_us h3 {
  font-size: 36px;
  color: #000000;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  font-size: 26px;
  color: #ffffff;
  margin-bottom: 30px;
}

@media only screen and (max-width: 500px) {
  .join_us_parant .join_us h3 {
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }
}

.join_us_parant .join_us p {
  width: 73%;
  margin: 0 auto 40px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 400;
}

.join_us_parant .join_us a {
  width: 150px;
  height: 45px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ad7d2f;
  margin: auto;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.join_us_parant .join_us a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9b702a;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.join_us_parant .join_us a:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.join_us_parant img {
  position: absolute;
  top: -24px;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
}

@media only screen and (max-width: 767px) {
  .join_us_parant {
    padding: 70px 0 80px;
    background-position: center center;
    background-size: cover;
    background-attachment: inherit;
  }
  .join_us_parant .join_us h3 {
    margin-bottom: 20px;
  }
  .join_us_parant .join_us p {
    width: 100%;
    margin: 0 auto 30px;
  }
  .join_us_parant img {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  .join_us_parant {
    padding: 40px 0;
    background-position: center center;
  }
  .join_us_parant .join_us h3 {
    margin-bottom: 20px;
  }
  .join_us_parant .join_us p {
    margin: 0 auto 25px;
    font-size: 16px;
  }
}

.map {
  position: relative;
}

.map img {
  width: 100%;
  max-height: 330px;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 170px;
}

.map .marker {
  max-width: 100%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  min-height: auto;
  width: auto;
}

footer {
  background-color: #ad7d2f;
  position: relative;
  overflow: hidden;
  z-index: 0;
}

footer .shape_f {
  width: auto;
  height: auto;
  position: absolute;
  top: -400px;
  left: 0;
  z-index: -1;
}

footer .footer {
  padding: 90px 0 80px;
}

footer .footer .logo_f {
  text-align: start;
  margin-bottom: 30px;
}

footer .footer .logo_f img {
  width: auto;
  height: auto;
}

footer .footer .ul_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer .ul_social a {
  -webkit-margin-end: 18px;
          margin-inline-end: 18px;
  color: #f9c672;
  font-size: 24px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

footer .footer .ul_social a:hover {
  color: #ffffff;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

footer .f_div .f_btn {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 30px;
  width: 100%;
  height: 100%;
  text-align: start;
}

footer .f_div .ul_list {
  text-align: start;
}

footer .f_div .ul_list a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.857;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-text-decoration: revert;
          text-decoration: revert;
  margin-bottom: 10px;
}

footer .f_div .ul_list a:hover {
  color: #f9c672;
}

footer .f_div .ul_list a i {
  color: #000000;
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

footer .f_div .ul_list div {
  display: inline;
  font-size: 16px;
  color: #ffffff;
}

footer .f_div .ul_list .time div:first-child {
  -webkit-margin-end: 5px;
          margin-inline-end: 5px;
}

footer .f_div .ul_list .location_ {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  line-height: 1.857;
  margin-bottom: 10px;
  text-decoration: none;
}

@media only screen and (min-width: 992px) {
  .f_div .ul_list {
    display: block;
  }
}

@media only screen and (max-width: 991px) {
  footer {
    padding: 50px 0 0px;
  }
  footer .shape_f {
    width: auto;
    height: auto;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -1;
  }
  footer .footer {
    padding: 0;
  }
  footer .footer .logo_f {
    text-align: center;
    margin-bottom: 20px;
  }
  footer .footer .social_media {
    margin-bottom: 40px;
  }
  footer .footer .ul_social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer .ul_social li a {
    margin: 0 10px;
  }
  footer .footer .f_div {
    position: relative;
    width: 100%;
  }
  footer .footer .f_div::before {
    content: "\";
    font-family: "line Awesome Free";
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    position: absolute;
    top: 2px;
    width: 20px;
  }
  html[dir="rtl"] footer .footer .f_div::before {
    left: 0px;
  }
  html[dir="ltr"] footer .footer .f_div::before {
    right: 0;
  }
  footer .footer .f_div .f_btn {
    margin-bottom: 20px;
  }
  footer .footer .f_div .ul_list a {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  footer .footer .f_div .ul_list li:last-child {
    margin-bottom: 30px;
  }
  footer .footer .f_div .ul_list li:first-child {
    margin-top: -9px;
  }
  footer .footer .f_div .time {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
  }
  footer .footer .f_div p {
    -webkit-margin-start: 15px;
            margin-inline-start: 15px;
    width: 90%;
  }
}

.copyright_parant .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.102);
  padding: 20px 0 20px;
}

.copyright_parant .copyright .copy_t, .copyright_parant .copyright .tasawk {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
}

.copyright_parant .copyright .tasawk {
  margin: 0;
}

.copyright_parant .copyright .tasawk img {
  -webkit-margin-start: 3px;
          margin-inline-start: 3px;
  width: auto;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .copyright_parant .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 15px 0;
  }
  .copyright_parant .copyright .copy_t, .copyright_parant .copyright .tasawk {
    text-align: center;
    text-align-last: center;
  }
  .copyright_parant .copyright p {
    margin: 0;
  }
  .copyright_parant .copyright p:first-child {
    margin-bottom: 5px;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

header .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
}

header .header .logo a img {
  width: auto;
  height: auto;
}

header .header .logo a .dark_img {
  display: none;
}

header .header .logo a .img_w {
  display: block;
}

header .header .bars_ {
  display: none;
}

nav .lang {
  display: none;
}

nav .ul_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .ul_nav > li {
  margin: 0 15px;
  padding: 10px 0;
}

nav .ul_nav > li > a {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
  display: block;
}

nav .ul_nav > li > a:hover {
  text-decoration: none;
  color: #9b702a;
}

nav .ul_nav > li > a i {
  font-size: 10px;
}

nav .ul_nav .hover_menu {
  position: relative;
}

nav .ul_nav .hover_menu:hover .ul_menu {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  right: -30px;
}

nav .ul_nav .hover_menu:hover > a {
  color: #9b702a;
}

nav .ul_nav .hover_menu .ul_menu {
  position: absolute;
  background-color: #ffffff;
  height: auto;
  padding: 25px 30px;
  top: 55px;
  right: -70px;
  text-align: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 492px;
  height: 290px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .5s;
  transition: .5s;
  visibility: hidden;
  z-index: -1;
  -webkit-box-shadow: 0px 0px 5px 0px #0000001a;
          box-shadow: 0px 0px 5px 0px #0000001a;
  opacity: 0;
}

nav .ul_nav .hover_menu .ul_menu::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #ffffff;
  position: absolute;
  top: -8px;
  left: 91%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

nav .ul_nav .hover_menu .ul_menu > li {
  width: 42%;
}

nav .ul_nav .hover_menu .ul_menu > li a {
  font-size: 14px;
  color: #000000;
  line-height: 2.1;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
}

nav .ul_nav .hover_menu .ul_menu > li a:hover {
  color: #9b702a;
}

nav .ul_nav .hover_m2:hover .ul_menu {
  right: 0px;
}

nav .ul_nav .hover_m2 .ul_menu {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: auto;
  max-width: 160px;
  padding: 25px 30px;
  right: -25px;
}

nav .ul_nav .hover_m2 .ul_menu li {
  width: auto;
}

.lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
}

.lang a {
  font-size: 14px;
  color: #808080;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: .5s;
  transition: .5s;
}

.lang a span {
  display: inline-block;
  -webkit-margin-end: 3px;
          margin-inline-end: 3px;
}

.lang a:hover {
  color: #9b702a;
}

.lang a i {
  font-size: 20px;
  line-height: normal;
}

@media only screen and (max-width: 991px) {
  .lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 20px;
  }
  html[dir="rtl"] .lang {
    right: 20px;
  }
  html[dir="ltr"] .lang {
    left: 20px;
  }
  .lang a {
    color: #808080;
  }
  .lang a i {
    font-size: 20px;
  }
}

@media only screen and (max-width: 991px) {
  header {
    z-index: 99;
  }
  header .header .bars_ {
    font-size: 24px;
    color: #ffffff;
    -webkit-margin-end: 0px;
            margin-inline-end: 0px;
    -webkit-transition: .5s;
    transition: .5s;
    display: block;
    z-index: 10;
    cursor: pointer;
  }
  header .header .bars_:hover {
    color: #9b702a;
  }
  nav {
    position: fixed;
    top: 0;
    padding: 100px 20px 0;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
  }
  html[dir="ltr"] nav {
    right: 0;
  }
  html[dir="rtl"] nav {
    left: 0;
  }
  nav .lang {
    display: block;
  }
  nav .ul_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  nav .ul_nav > li {
    margin: 0;
    padding: 0;
  }
  nav .ul_nav > li:not(:last-child) {
    margin-bottom: 10px;
  }
  nav .ul_nav > li a {
    color: #000000;
    text-align: start;
    font-size: 18px;
    font-weight: 600;
  }
  nav .ul_nav .hover_menu {
    position: inherit;
  }
  nav .ul_nav .hover_menu .ul_menu {
    position: inherit;
    padding: 15px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: auto;
    height: auto;
    visibility: unset;
    z-index: 1;
    opacity: unset;
    display: none;
    -webkit-transition: unset;
    transition: unset;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  nav .ul_nav .hover_menu .ul_menu::after {
    display: none;
  }
  nav .ul_nav .hover_menu .ul_menu > li {
    width: auto;
    text-align: start;
  }
  nav .ul_nav .hover_menu .ul_menu > li a {
    color: #808080;
    text-align: start;
  }
  nav .ul_nav .hover_menu .ul_menu > li a:hover {
    color: #9b702a;
  }
  .lang {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  header .header {
    padding: 15px 0;
  }
  header .header .logo a img {
    width: 230px;
  }
}

.fixed {
  background-color: #ffffff;
  padding: 10px 0;
  -webkit-box-shadow: 0px 0px 5px 0px #0000001a;
          box-shadow: 0px 0px 5px 0px #0000001a;
}

.dark, .dark_ {
  color: #000000 !important;
}

.dark:hover, .dark_:hover {
  color: #ad7d2f !important;
}

.dark_img_b {
  display: block !important;
}

.dark_img_n {
  display: none !important;
}

.padd_ {
  padding: 0 !important;
}

.header_w {
  background-color: #ffffff;
}

.header_w nav .ul_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_w nav .ul_nav > li {
  margin: 0 15px;
  padding: 10px 0;
}

.header_w nav .ul_nav > li > a {
  color: #000000;
}

.bars_dark {
  color: #000000 !important;
}

.fixsedt {
  top: -130px;
  -webkit-transition: .5s;
  transition: .5s;
}

.preloader-sa {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ad7d2f;
  z-index: 999;
  text-align: center;
}

.preloader-sa img {
  height: auto;
}

.preloade_slide {
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.preload_back {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ad7d2f;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.progress-bar {
  background-color: #ad7d2f;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 4px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 20px 0 0 0;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.progress-bar .Shape_1 {
  background-color: #ad7d2f;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 4px;
  z-index: 4;
}

.progress-bar span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.bar {
  background-color: #eeeeee;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.progress {
  -webkit-animation: loader 8s ease infinite;
          animation: loader 8s ease infinite;
  background: #ad7d2f;
  border: none;
  padding: 0px;
  width: 0;
  height: 4px;
}

@-webkit-keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loader {
  0% {
    width: 0;
  }
  20% {
    width: 10%;
  }
  25% {
    width: 24%;
  }
  43% {
    width: 41%;
  }
  56% {
    width: 50%;
  }
  66% {
    width: 52%;
  }
  71% {
    width: 60%;
  }
  75% {
    width: 76%;
  }
  94% {
    width: 86%;
  }
  100% {
    width: 100%;
  }
}

.team_parant {
  margin-top: 120px;
}

.team_parant .head_team {
  background-color: #ad7d2f;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.team_parant .head_team p {
  text-align: start;
  font-size: 14px;
  color: #ffffff;
  line-height: 2.571;
  text-transform: capitalize;
}

.team_parant .head_team p a {
  font-size: 14px;
  color: #ffffff;
  line-height: 2.571;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}

.team_parant .head_team p span {
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

.team_parant .team {
  padding: 80px 0 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.team_parant .team .team_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-align: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 35px;
}

.team_parant .team .team_item img {
  border-radius: 50%;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
}

.team_parant .team .team_item h2 {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
  margin-bottom: 5px;
}

.team_parant .team .team_item p {
  font-size: 14px;
  color: #000000;
  font-weight: 400;
  margin-bottom: 5px;
}

.team_parant .team .team_item a {
  font-size: 14px;
  color: #ad7d2f;
  font-weight: 400;
}

@media only screen and (max-width: 500px) {
  .team_parant {
    margin-top: 90px;
  }
  .team_parant .head_team {
    height: 60px;
  }
  .team_parant .team {
    padding: 50px 0 60px;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .team_parant .team .team_item {
    text-align: start;
    margin-bottom: 25px;
  }
  .team_parant .team .team_item img {
    -webkit-margin-end: 15px;
            margin-inline-end: 15px;
  }
  .team_parant .team .team_item h2 {
    font-size: 14px;
  }
  .team_parant .team .team_item p {
    font-size: 13px;
    margin-bottom: 0;
  }
}

.about_us_page {
  padding: 70px 0 100px;
}

.about_us_page .about_div {
  text-align: start;
}

.about_us_page .about_div h3 {
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 20px;
}

.about_us_page .about_div p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
}

.about_us_page .about_img {
  position: -webkit-sticky;
  position: sticky;
  top: 50px;
  left: 0;
  overflow: hidden;
  text-align: center;
}

.about_us_page .about_img img {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .about_us_page {
    padding: 60px 0 70px;
  }
  .about_us_page .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about_us_page .about_div {
    text-align: center;
  }
  .about_us_page .about_div h3 {
    margin-bottom: 20px;
  }
  .about_us_page .about_img {
    margin-bottom: 40px;
  }
}

.contact_page_page {
  padding: 50px 0;
}

.contact_page_page .contact_page {
  padding: 100px 0;
  width: 40%;
  margin: auto;
}

.contact_page_page .contact_page .from_group {
  margin-bottom: 20px;
  text-align: start;
}

.contact_page_page .contact_page .from_group .gro_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.contact_page_page .contact_page .from_group .gro_select i {
  position: absolute;
  top: 45px;
  left: 12px;
  color: #ad7d2f;
  font-size: 16px;
}

.contact_page_page .contact_page .from_group label {
  color: #000000;
  margin-bottom: 10px;
}

.contact_page_page .contact_page .from_group .form-control {
  border: 2px solid #ad7d2f;
  border-radius: unset;
  font-size: 16px;
  color: #808080;
}

.contact_page_page .contact_page .from_group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #ca891f;
}

.contact_page_page .contact_page button {
  width: 150px;
  height: 45px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ad7d2f;
  font-weight: 400;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: capitalize;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.contact_page_page .contact_page button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9b702a;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.contact_page_page .contact_page button:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.contact_page_page .contact_page .required > label::after {
  content: "*";
  color: #df0000;
  font-size: 14px;
  -webkit-margin-start: 5px;
          margin-inline-start: 5px;
}

.f-select {
  font-size: 14px;
  height: 40px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-size: 15px;
  outline: none;
}

select::-ms-expand {
  display: none;
}

@media screen and (min-width: 0\0) {
  select {
    background: none\9;
    padding: 5px\9;
  }
}

/* --------------------------- */
@media only screen and (max-width: 767px) {
  .contact_page_page .contact_page {
    padding: 20px 0;
    width: 100%;
  }
  .contact_page_page .group_2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px !important;
  }
  .contact_page_page .contact_page .from_group .gro_select {
    width: 100%;
  }
  .contact_page_page .contact_page .from_group .gro_select .f-select {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */