.contact_us_parant{
  padding: 90px 0 120px;
  h3{
    @include title_main;
    margin-bottom: 50px;
  }
  .about_btn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    a{
      margin: 10px;
    }

  }
}

@include xxs{
  .contact_us_parant{
    padding: 70px 0 50px;
    h3{
      @include title_main;
      margin-bottom: 50px;
    }
    .about_btn{
      a{
        margin: 0 0 15px;
        
      }
  
    }
  }
}