header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: .5s;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    .logo{
      a{
        img{
          width: auto;
          height: auto;
        }
        .dark_img{
          display: none;
        }
        .img_w{
          display: block;
        }
      }
    }
    .bars_{
      display: none;
      }

  }
}

nav{
  .lang{
    display: none;
  }
  .ul_nav{
    display: flex;
    >li{
      margin: 0 15px;
      padding: 10px 0;
      >a{
        font-size: 14px;
        color: $color_1;
        font-weight: 400;
        transition: .5s;
        text-transform: capitalize;
        display: block;
        &:hover{
          text-decoration: none;
          color: $color_3;
        }
        i{
          font-size: $font_s - 6;
        }
      } 
    }
    .hover_menu{
      position: relative;
      &:hover{
        .ul_menu{
          visibility: visible;
          z-index: 1;
          opacity: 1;
          right: -30px;
        }
        >a{
          color: $color_3;
        }
      }
        .ul_menu{
          position: absolute;
          background-color: $color_1;
          height: auto;
          padding: 25px 30px;
          top: 55px;
          right: -70px;
          text-align: start;
          display: flex;
          flex-wrap: wrap;
          width: 492px;
          height: 290px;
          flex-direction: column;
          justify-content: space-between;
          transition: .5s;
          visibility: hidden;
          z-index: -1;
          box-shadow: 0px 0px 5px 0px #0000001a;

          opacity: 0;
          &::after{
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid $color_1;
            position: absolute;
            top: -8px;
            left: 91%;
            transform: translateX(-50%);
            transition: 0.3s;
            opacity: 1;
          }
          >li{
            width: 42%;
            a{
              font-size: $font_s - 2;
              color: $color_2;
              line-height: 2.1;
              font-weight: 400;
              transition: .5s;
              text-transform: capitalize;
              &:hover{
                color: $color_3;
              }
            }
          }
        }

    }
    .hover_m2{

      &:hover{
        .ul_menu{
          right: 0px;

        }
      }
      .ul_menu{
        flex-wrap: nowrap;
        height:auto;
        max-width: 160px;
        padding: 20px;
        right: -25px;

        li{
          width: auto;
        }
      }
    }
  }
}


.lang{
@include lang_;
display: block;
}

@include sm{
  header{
    z-index: 99;
    .header{
      .bars_{
        font-size: $font_s + 8;
        color:$color_1;
        margin-inline-end: 0px;
        transition: .5s;
        display: block;
        z-index: 10;
        cursor: pointer;
        &:hover{
          color: $color_3;
        }
      }
    }
  }
  nav{
    position: fixed;
    top: 0;
    padding: 100px 20px 0;
    background-color:$color_1;
    width: 100%;
    height: 100%;
    display: none;
    overflow-y: auto;
    @include en{
      right: 0;
    }
    @include ar{
      left: 0;
    }
    .lang{
      display: block;
      
    }
    .ul_nav{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      >li{
        margin: 0;
        padding: 0;
        &:not(:last-child){
          margin-bottom: 10px;
        }
        a{
          color: $color_2;
          text-align: start;
          font-size: $font_s + 2;
          font-weight: 600;
          }
      }
      .hover_menu{
        position: inherit;
        .ul_menu{
          position: inherit;
          padding: 15px 0 0;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: auto;
          height: auto;
          visibility: unset;
          z-index: 1;
          opacity: unset;
          display: none;
          transition: unset;
          box-shadow: none;
          &::after{
            display: none;
          }
          >li{
            width: auto;
            text-align: start;
            a{
              color:$color_4 ;
              text-align: start;
              &:hover{
                color: $color_3;
              }
            }
          }
        }
      }
      .hover_m2{
        .ul_menu{
          height: auto;
          box-shadow: none;
          
          li{
            width: auto;
          }
        }
      }
      }
    }
    .lang{
      display: none;

    } 
  }
@include xs{
  header{
    .header{
      padding: 15px 0;
      .logo{
        a{
          img{
            width: 230px;
          }
        }
      }
      
    }
  }
}

.fixed{
  background-color: $color_1;
  padding: 10px 0;
  box-shadow: 0px 0px 5px 0px #0000001a;

}


.dark, .dark_{
  color: $color_2!important;
  &:hover{
    color: $color_5!important;
  }
}
.dark_img_b{
  display: block!important;
}
.dark_img_n{
  display: none!important;
}
.padd_{
  padding: 0!important;
}
.header_w{
  background-color: $color_1;
  nav{
    .ul_nav{
      display: flex;
      >li{
        margin: 0 15px;
        padding: 10px 0;
        >a{
          color: $color_2;

        
      }
    }
  }
  }
}


.bars_dark{
  color: $color_2!important;
}

.fixsedt {
  top: -130px;
  transition: .5s
}

.preloader-sa{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ad7d2f;
  z-index: 999;
  text-align: center;
  img{
    height: auto;
  }
}
.preloade_slide{
  background-color: #fff;
  width: 100%;
  height: 100%;
  display: flex;
    align-items: center;
    justify-content: center;
}
.preload_back{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #ad7d2f;
}
.loading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .progress-bar {
  background-color: #ad7d2f;
  border: none;
  overflow: hidden;
  width: 200px;
  height: 4px;
  box-shadow: none;
  margin: 20px 0 0 0;
  transform: rotateY(0deg);
}

.progress-bar .Shape_1 {
  background-color: #ad7d2f;
  position: absolute;
  left: 583px;
  top: 459px;
  width: 200px;
  height: 4px;
  z-index: 4;
}

.progress-bar span {
  display: flex;
  justify-content: flex-start;
}

.bar {
  background-color: #eeeeee;
  box-shadow: none;
}

.progress {
  animation: loader 8s ease infinite;
  background: #ad7d2f;
  border: none;
  padding: 0px;
  width: 0;
  height: 4px;
}
@keyframes loader {
  0% {
      width: 0;
  }
  20% {
      width: 10%;
  }
  25% {
      width: 24%;
  }
  43% {
      width: 41%;
  }
  56% {
      width: 50%;
  }
  66% {
      width: 52%;
  }
  71% {
      width: 60%;
  }
  75% {
      width: 76%;
  }
  94% {
      width: 86%;
  }
  100% {
      width: 100%;
  }
}
