.team_parant{
  margin-top: 120px;
  .head_team{
    background-color:$color_5 ;
    height: 80px;
    display: flex;
    align-items: center;
    width: 100%;
    p{
      text-align: start;
      font-size: $font_s - 2 ;
      color: $color_1;
      line-height: 2.571;
      text-transform: capitalize;
      a{
        font-size: $font_s - 2 ;
        color: $color_1;
        line-height: 2.571;
        margin-inline-end: 10px;
      }
      span{
        margin-inline-start: 5px; ;
      }
    }
    }
    .team{
      padding: 80px 0 150px;
      display: grid;
      grid-template-columns:repeat(2, 1fr);
      .team_item{
        display: flex;
        justify-content: start;
        text-align: start;
        align-items: center;
        margin-bottom: 35px;
        img{
          border-radius: 50%;
          margin-inline-end: 20px;
        }
        h2{
          font-size: $font_s + 2;
          color: $color_2;
          font-weight: 700;
          margin-bottom: 5px;
        }
        p{
          font-size: $font_s - 2;
          color: $color_2;
          font-weight: 400;
          margin-bottom: 5px;
        }
        a{
          font-size: $font_s - 2;
          color: $color_5;
          font-weight: 400;
        }
      }
    }
}


@include xxs{
  .head_team{
    height: 60px;
    }
  .team_parant{
      .team{
        padding: 50px 0 60px;
        grid-template-columns:repeat(1, 1fr);
        .team_item{
          flex-direction: column;
          text-align: center;
          img{
            margin-inline-end: 0px;
            margin-bottom: 10px;
          }
        }
      }
  }
}